/zad II/nbproject/private/
/zad II/build/
/3/nbproject/private/
/3/build/
/Main/nbproject/private/
/Main/build/
/5/nbproject/private/
/5/build/
/6/nbproject/private/
/6/build/
/Zadanie6/nbproject/private/
/Zadanie6/build/
/7/nbproject/private/
/7/build/
/Zadanie7/nbproject/private/
/Zadanie7/build/
/Zadanie8/nbproject/private/
/Zadanie8/build/
/Zadanie11/nbproject/private/
/Zadanie11/build/
/JavaApplication11/nbproject/private/
/JavaApplication11/build/
/HelloThread/nbproject/private/
/HelloThread/build/